html, body, #background, #container  {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #333;
	text-align: center;
	color: white;
}

#background, #container {
	position: absolute;
	top: 0;
	left: 0;
}

#background {
	filter: blur(6px);
	-moz-filter: blur(6px);
	-webkit-filter: blur(6px);
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: white;
}

p {
	margin: 0;
	padding: 0;
}

.pusher {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

@font-face {
    font-family: 'Nexa Rust Sans Black';
    src: url('ttf/NexaRustSans-Black.otf');
}

#lookatme {
	font-size: 3em;
	vertical-align: middle;
	display: inline-block;
	text-shadow: #000 1px 1px 4px;
	font-family: 'Nexa Rust Sans Black', serif;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	line-height: 1em;
}

@media (max-width: 768px){
	#lookatme {
		font-size: 2em;
	}
}

a, a:active, a:hover {
	color: inherit;
}

footer#social, footer#imprint {
	position: absolute;
	bottom: 0;
	padding: 0;
}

footer#social {
	left: 0;
	font-size: 3em;
	margin: 5px 15px;
}

footer#imprint {
	text-align: right;
	right: 0;
	font-size: 1em;
}

@font-face {
    font-family: 'Nexa Rust Handmade Extended';
    src: url('ttf/NexaRustHandmade-Extended.otf');
}

address {
	font-style: normal;
	font-family: 'Nexa Rust Handmade Extended', monospace;
	margin: 15px;
}
