RewriteEngine on

# detect rewrite base
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

# prevent duplicate content
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^index\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

# serve existing files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]

# rewrite all other queries to the front controller.
RewriteRule .? %{ENV:BASE}/index.php [L]